:root {
    --stepper-circle-size: 2em;
    --stepper-line-height: 0.2em;
}

.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

.step {
    position: relative;
    flex: 1;
    text-align: center;
}

.step a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.5em;
}

.step .indicator {
    transition: transform 0.3s;
}

.step a:hover .indicator {
    transform: scale(1.2);
}

.step.disabled a {
    pointer-events: none;
    color: var(--bs-secondary);
}

.indicator {
    width: var(--stepper-circle-size);
    height: var(--stepper-circle-size);
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--bs-secondary-bg);
    line-height: var(--stepper-circle-size);
    font-weight: bold;
    color: var(--bs-light);
    position: relative;
    z-index: 1;

    font-size: 1.2em;
}

.step.active .indicator {
    background-color: var(--bs-primary);
}

.step.completed .indicator {
    background-color: var(--bs-success);
}

.step.current .indicator {
    transform: scale(1.2);
}

.step.current .label {
    font-weight: bold;
}

.label {
    font-size: 0.875em;
    color: var(--bs-secondary);
}

.step.active .label {
    color: var(--bs-link-color);
}

.step::before {
    content: '';
    position: absolute;
    top: calc(var(--stepper-circle-size) / 2 - var(--stepper-line-height) / 2);
    left: 0;
    right: 0;
    height: var(--stepper-line-height);
    background-color: var(--bs-secondary-bg);
    z-index: 0;
}

.step.active::before {
    background-color: var(--bs-primary);
}

.step.completed::before {
    background-color: var(--bs-success);
}

.step:first-child::before {
    left: 50%;
}

.step:last-child::before {
    right: 50%;
}